{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}

{% block css %}<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">{% endblock css %}

{% block title%}Password Reset{% endblock title %}

{% block content %}
<h1>Change Password</h1>

<div class="reset-form col-lg-5 col-md-5 col-sm-12 col-xs-12">
    {% if validlink %}
    <form method="POST">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <p class="text-muted text-center">If you didn't request a password reset, don't do anything.</p>
        <div class="form-group reset-btn text-center">
            <button type="submit" class="btn btn-light btn-outline-primary">Change Password</button>
        </div>
    </form>
    {% else %}
    <p>The password reset link was invlid. Please try again.</p>
    {% endif %}
    
    <p class="text-center reset-link">Remember your password? Login <a href="{% url 'login' %}">here.</a></p>
</div>
{% endblock content %}