h1 {
    font-family: 'Hammersmith', sans-serif;
}

.page-header p {
    font-family: 'Hammersmith', sans-serif;
}

.products {
    margin-top: 5%;
}

#product-price {
    width: 75px;
}

.cart-items {
    min-height: 300px;
}

tr td a {
    text-decoration: none;
}

tr td a i {
    color: #4F4F4F;
}

.no-cart-items {
    font-family: 'Roboto', sans-serif;
}

.total p {
    font-family: 'Hammersmith', sans-serif;
}