h1, h2, h3, p {
    font-family: 'Hammersmith', sans-serif;
    text-align: center;
    padding: 5px;
}

.page-header {
    margin: 20px 0;
}

.row {
    margin-top: 50px;
}

.far, .fas {
    font-size: 45pt;
    color: rgb(104, 104, 104)
}

.orders-page {
    margin: 40px 20px 0 20px;
}