h1 {
    font-family: 'Hammersmith', sans-serif;
    text-align: center;
    margin: 40px 0;
}

.login-form {
    margin: 25px auto;
}

.login-btn {
    margin: 0 auto;
}

#forgot-password {
    text-align: right;
}

.register-link {
    margin: 50px 0;
    font-family: 'Hammersmith', monospace;
}

.register-link a {
    font-family: 'Hammersmith', monospace;
}


.loading {
    display: none;
}

.loading img {
    height: 40px;
}
