h1 {
    font-family: 'Hammersmith', sans-serif;
    text-align: center;
    margin: 40px 0;
}

.reset-form {
    margin: 25px auto;
}

.reset-btn {
    margin: 0 auto;
}

.reset-link {
    margin: 50px 0;
}

