h1, .text-muted {
    font-family: 'Hammersmith', sans-serif;
    text-align: center;
}

.tickets {
    margin: 7% 0;
}

.card {
    border: none;
}

.card-title {
    font-family: 'Hammersmith', sans-serif;
    font-size: 13pt;
    padding-top: 5px;
    margin: 0;
}

.image-div {
    height: 150px;
}

.card-img {
    border-radius: 7px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    height: inherit;
}

.card-body {
    padding: .75rem;
}

.details {
    margin-bottom: 5%;
    
}

.details p {
    font-family: 'Hammersmith', sans-serif;
    margin: 0;
    padding: 0;
}

.quick-add {
    padding: 0;
}

