h1, .text-muted {
    font-family: 'Hammersmith', sans-serif;
    text-align: center;
}

.search-box {
    margin-top: 30px;
}

.search-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 20px; 
    border: 0px solid rgba(0,0,0,.125);
}

h6 {
    text-decoration: underline;
}

.search-header {
    padding: .25rem 0rem;
    background-color: #fff;
    border-bottom: none;
    cursor: pointer;
}

.cars, .search-options {
    margin-bottom: 15px;
}

.search-btn {
    margin: 15px 0;
}

.tickets {
    margin: 3.5% 0 7% 0;
}

.card {
    border: none;
    margin-bottom: 2.5%;
}

.card-title {
    font-family: 'Hammersmith', sans-serif;
    font-size: 13pt;
    padding-top: 5px;
    margin: 0;
}

.image-div {
    height: 250px;
}

.card-img {
    border-radius: 7px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    height: inherit;
}

.card-body {
    padding: .75rem;
}

.details {
    margin-bottom: 5%;
    
}

.details p {
    font-family: 'Hammersmith', sans-serif;
    margin: 0;
    padding: 0;
}

.quick-add {
    padding: 0;
}

@media (min-width: 576px) {
    .image-div {
        height: 150px;
    }
}
