h1 {
    font-family: 'Hammersmith', sans-serif;
    text-align: center;
}

h2, .text-muted {
    font-family: 'Hammersmith', sans-serif;
}


img {
    border-radius: 7px;
    margin: 50px 0;
}

.product-name {
    height: 175px;
}

.product-info {
    padding-top: 40px;
}

.ticket-price p, .product-price p {
    font-family: 'Hammersmith', sans-serif;
}

.select-tickets {
    margin: 25px 0 30px 0;
}

.ticket-price p {
    text-align: center;
    font-size: 14pt;
}

.input-group>.form-control {
    width: 25%;
}

.add-to-cart {
    margin: 0 15px;
}

.description p {
    font-family: 'Hammersmith', sans-serif;
}

.description h2 {
    text-decoration: underline;
}

.product-fits p {
    font-family: 'Hammersmith', sans-serif;
    font-size: 12pt;
}

.large-screen-view {
    display: none;
}

@media (min-width: 768px) {
    .large-screen-view {
        display: initial;
    }

    .input-group>.form-control {
        width: 35%; 
    }

    .mobile-view {
        display: none;
    }
}