.page-header {
    margin: 2.5% 0 5% 0
}

.page-header h1, .page-header p, h2 {
    font-family: 'Hammersmith', sans-serif;
}

th, td {
    font-size: 10pt;
}

td.entries-row {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 8.5pt;
}

.current {
    font-family: 'Roboto', sans-serif;
}

.fas {
    color: rgba(0, 0, 0, .5);
    font-size: 14pt;
}

.fas:hover {
    color: rgba(0, 0, 0, 1);
}

.order-table {
    padding: 0;
}

@media (min-width: 768px) {
    .order-table {
        padding: 15px;
    }

    th, td {
        font-size: 12pt;
    }

    td.entries-row {
        font-size: 10.5pt;
    }
}