.page-header h1, .page-header p, .card-title {
    font-family: 'Hammersmith', sans-serif;
}

.page-header p a{
    text-decoration: none;
}

.winners {
    margin: 25px 0;
}

.card {
    padding: 15px;
}

.card-title {
    margin-top: 10px;
}

.header {
    max-width: 100%;
    max-height: 100%;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}

.card-img {
    border-radius: 7px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

.current {
    font-family: 'Roboto', sans-serif;
}

.fas {
    color: rgba(0, 0, 0, .5);
    font-size: 14pt;
}

.fas:hover {
    color: rgba(0, 0, 0, 1);
}
