{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block css %}<link rel="stylesheet" href="{% static 'css/checkout.css' %}">{% endblock css %}

{% block title%}Checkout{% endblock title %}

{%block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<div class="page-header">
    <h1>Checkout</h1>
</div>

<div class="row">
    <div class="order-details p-3 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h2>Order Details</h2>
        <div class="row">
            {% for c in orders %}
            <table>
                <tr>
                    <td><img src="{{ c.product.img }}" alt="{{ c.product.name }}"></td>
                    <td>{{ c.product.name }}</td>
                    <td>{{ c.quantity }}</td>
                    <td>{{ c.product_amount }}</td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </div>

    <div class="profile-details col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h3>User Details</h3>
        <div class="row">
            <div class="user-details p-3 col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>{{ user.email }}</p>
                <p>{{ user.profile.phone_number }}</p> 
            </div>
            <div class="billing-shipping p-3 col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <p>{{ user.profile.address_line_1 }} <br>
                {{ user.profile.address_line_2 }} <br>
                {{ user.profile.town_city }} <br>
                {{ user.profile.county }} <br>
                {{ user.profile.country }} <br>
                {{ user.profile.postcode }}</p>
            </div>
        </div>
    </div>
</div>

<form method="POST" id="payment-form" action="{% url 'checkout' %}">
    {% csrf_token %}
    <div class="card-details offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12 col-xs-12">
        <h2>Card Details</h2>
        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        {{ payment_form | as_bootstrap}}
    </div>

    <div class="question offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12 col-xs-12">
        <h2>Question</h2>
        <p class="text-center competition-question">{{ comp.question }}</p>
        <select name="user-answer" id="user-answer" class="form-control">
            <option selected disabled>Please select an option</option>
            <option value="{{ comp.answer_1 }}">{{ comp.answer_1 }}</option>
            <option value="{{ comp.answer_2 }}">{{ comp.answer_2 }}</option>
            <option value="{{ comp.answer_3 }}">{{ comp.answer_3 }}</option>
        </select>
    </div>

    <div class="submit-button text-center">
        <p class="text-muted">By clicking the below you agree to our Terms & Conditions.</p>
        <button type="submit" class="btn btn-outline-primary">Finish and Pay</button>
    </div>
</form>

{% endblock content %}
