{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}

{% block css %}<link rel="stylesheet" href="{% static 'css/checkout_complete.css' %}">{% endblock css %}

{% block title%}Checkout Complete{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>Checkout Complete</h1>
    <h3>Your order has been placed, please check your e-mails.</h3>
</div>
<div class="page-content">
    <div class="row">
        <div class="offset-lg-2 col-lg-2 offset-md-2 col-md-2 col-sm-12 col-xs-12">
            <div class="text-center">
                <i class="far fa-envelope icon"></i>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>We have sent you an e-mail with whether you have been entered 
                into the competition.</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-2 col-lg-2 offset-md-2 col-md-2 col-sm-12 col-xs-12">
            <div class="text-center">
                <i class="far fa-clock"></i>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>When the competition ends you will get an e-mail notifying you 
                if you have won!</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-2 col-lg-2 offset-md-2 col-md-2 col-sm-12 col-xs-12">
            <div class="text-center">
                <i class="fas fa-list"></i>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>Your order has been emailed to you, if you got the answer 
                correct it will also show you the associated entries.</p>
        </div>
    </div>

    <div class="orders-page col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>You can view all of your orders, including this one, and associated entry numbers <a href="{% url 'users_orders' %}">here.</a></p>
    </div>
</div>

{% endblock content %}
