{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block css %}<link rel="stylesheet" href="{% static 'css/change_password.css' %}">{% endblock css %}

{% block title%}Change Password{% endblock title %}

{% block content %}
<h1>Change Password</h1>

<div class="change-password-form col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <form method="POST">
        {% csrf_token %}
        {{ change_password_form | as_bootstrap }}

        <div class="form-group change-btn text-center">
            <button type="submit" class="btn btn-light btn-outline-dark">Change</button>
            
        </div>
        <div class="text-center">
            <a class="btn btn-outline-dark profile-link" href="{% url 'profile' %}">Back to Profile</a>
        </div>
    </form>
</div>
{% endblock content %}