{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}

{% block css %}<link rel="stylesheet" href="{% static 'css/cart.css' %}">{% endblock css %}

{% block title%}Cart{% endblock title %}

{% block content %}
<div class="page-header">
    <h1 class="text-center">Cart</h1>
    <p class="text-center text-muted">Edit your cart or proceed to checkout.</p>
</div>

<div class="products">
    <div class="cart-items offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-xs-12">
        {% if orders %}
        <table class="table table-borderless">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
            {% for o in orders %}
            <tr>
                <td>{{ o.product.name }}</td>
                <td>
                    <span class="remove-one-item" id="remove-one-item">
                        <i class="fas fa-minus-circle"></i>
                    </span>
                    <input type="hidden" class="order-id" value="{{ o.id }}">
                    <p class="p-1 order-qty">{{ o.quantity }}</p>
                    <span class="add-one-item">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                </td>
                <td>£{{ o.product.ticket_price }}</td>
                <td>
                    <a href="{% url 'remove_item' o.id %}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="total col-md-3 offset-md-9 col-4 offset-8">
            <p>Total: £ <span id="order-total">{{ total }}</span></p>
        </div>
        {% else %}
        <p class="text-center no-cart-items">There are no items in your cart, add some <a href="{% url 'products' %}">tickets.</a></p>
        {% endif %}
    </div>
    <div class="checkout text-center">
        <button type="button" class="btn btn-outline-dark {% if orders is null %}disabled{% endif %}" href="{% url 'checkout' %}">Go to Checkout</button>
    </div>
</div>
{% endblock content %}

{% block js %}<script src="{% static 'js/cart.js' %}"></script>{% endblock js %}