{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/999af8025a.js" SameSite="Lax"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}{% endblock css %}

    <title>{% block title %}{% endblock title %} | Project Parts</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="">PROJECT PARTS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'competition' %}cactive{% endif %}">
                    <a class="nav-link" href="{% url 'products' %}">Competition</a>
                </li>
            </ul>
            <div class="navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container main-container">
        
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

        {% block content %}
        {% endblock content %}
    </div>

    <footer class="container page-footer font-small blue">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <ul class="list-unstyled small-screen-center">
                    <li>
                        <a class="footer-text" href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a class="footer-text" href="{% url 'products' %}">Competition</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li>
                        <a class="footer-text" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li>
                        <a class="footer-text" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="footer-text" href="{% url 'register' %}">Register</a>
                    </li>
                    <li>
                        <a class="footer-text" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="offset-col-col-md-6 col-sm-6 col-xs-6 social-links">
                <h5 class="text-center">Follow us on Social Media <br> for winner accountments & updates!</h5>
                <ul class="text-center">
                    <li>
                        <a target="_blank" href="https://www.facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- #region -->
    <!--CDNs-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--My Files-->
    {% block js %}{% endblock js %}
</body>
</html>